{% extends 'basic.html' %}
{% load static %}
{%block title%} Explore {%endblock title%}
  {% block body %}
<!-- <div class="d-inline-flex  " style = "display:block;padding:15%;margin-top:1px; height:550px">

 {% for i in song%}
 <div class="card" style="  display:block; height:10%;width:100%;  color: black; ">
 <a href="/musicbeatapp/songs/{{i.song_id}}" style="text-decoration:none;">
  <img src="{{i.image.url}}" class="card-img-top" alt="..." style= " width: 200px ; height: 200px;line-height:0px;font-size:0px;display:block; padding:10px;"class="img-thumbnail">
  <div class="card-body" style="padding:10%">
    <p class="card-title">{{i.name.url}}</p>
    {% comment %} <a href="/musicbeatapp/songs/{{i.song_id}}" class="btn btn-outline-danger">Listen Song</a> {% endcomment %}
</div>
</a>
</div>
{% endfor%} 
</div> -->
<div class="d-inline-flex  " style = "display:block;padding:10%;margin-top:1px; height:550px">


{% for i in song%}

<div
  class="card"
  style="
    width: 250px;
    margin-bottom: 70px;
    padding-top: 3px;
    padding-bottom: 21%;
    
    display: inline-flex;
    height: 200px;
    background-color: rgb(7, 3, 3);
  "
>
  <a href="/musicbeatapp/songs/{{i.song_id}}" style="text-decoration: none">
    <img
      src="{{i.image.url}}"
      alt="..."
      class="card-img-top"
      alt="..."
      style="width: 95%; height: 65%; padding-left: 7%; padding-top: 7%"
    />
    <div class="card-body" style="padding-down: 7%">
      <p class="card-title">{{i.name}}</p>
      {% comment %}
      <a
        href="/musicbeatapp/songs/{{i.song_id}}"
        class="btn btn-outline-danger"
        >Listen Song</a
      >
      {% endcomment %}
    </div>
  </a>
</div>

{% endfor%}



{% endblock body %}